<%- include('./partials/layout-start.ejs') %>
<%- include('./partials/menu.ejs') %>

<div class="container">
    <h1 class="container__title">Приветствую на главной странице</h1>
</div>

<%- include('./partials/layout-end.ejs') %>
