<%- include('../partials/layout-start.ejs') %>
<%- include('../partials/menu.ejs') %>
    <div class="container">
        <%- include('../book/create.ejs', { title: 'Создать книгу'}) %>
    </div>
<%- include('../partials/layout-end.ejs') %>
