<%- include('../partials/layout-start.ejs') %>
<%- include('../partials/menu.ejs') %>
    <div class="container">
        <%- include('../book/update.ejs', { title }) %> 
    </div>
<%- include('../partials/layout-end.ejs') %>
