<%- include('../partials/layout-start.ejs') %>
<%- include('../partials/menu.ejs') %>
    <div class="container">
        <%- include('../book/view.ejs', { book }) %>
    </div>
<%- include('../partials/layout-end.ejs') %>
