<%- include("../partials/layout-start", {title: title}) %>
<%- include("../partials/menu") %>

<div class="container">
    <h1 class="container__title"><%= title %></h1>
</div>

<%- include("../partials/layout-end") %>
