<nav class="navigation">
    <ul class="navigation__list">
        <li class="navigation__item">
            <a class="navigation__link" href="/">Main</a>
        </li>
        <li class="navigation__item">
            <a class="navigation__link" href="/books">Books</a>
        </li>
    </ul>
</nav>
