<%- include("../partials/layout-start", {title}) %>
<%- include("../partials/menu", { isAuth }) %>

<div class="container">
    <h1 class="container__title"><%= title %></h1>
</div>

<%- include("../partials/layout-end") %>
